<!-- crearProducto.html | Thais -->

<!DOCTYPE html>
<html lang="en" >

<head>
    <link href="/images/lince.png" type="image/x-icon" rel="shortcut icon" />
    <title>VisionLynx</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="/css/menunavbar.css" />
    <link type="text/css" rel="stylesheet" href="/css/carouselnew.css" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" />

    <!--SCRIPT TO IMPORT MENU AND FOOTER-->
    <script>
        $(function () {
            $("#header").load("/header_Admin.html");
        });
        $(function () {
            $("#footer").load("/footer.html");
        });
    </script>

    <!--SCRIPT FOR PRODUCT OPTIONS-->
    <!--<script type="text/javascript">
        $(document).ready(function(){
            $(".prod-type").click(function(evento){
                var valor = $(this).val();
                if(valor == '1'){
                    document.getElementById('div1').style.display = 'block';}
                    
                }else if (valor == '2'){
                    document.getElementById('div1').style.display = 'none';}
                }else{
                    document.getElementById('div1').style.display = 'none';}
                }
            });
        });
    </script>-->

    <script>
        function habilitar(value) {
            if (value == "Select") { // habilitamos
                document.getElementById("div1").style.display = "none";
                document.getElementById("div2").style.display = "none";

            } else if (value == "Lentillas") {
                // deshabilitamos
                document.getElementById("div1").style.display = "none";
                document.getElementById("div2").style.display = "block";

            } else if (value == "Gafas de sol") {
                document.getElementById("div1").style.display = "block";
                document.getElementById("div2").style.display = "none";
            } else {
                document.getElementById("div1").style.display = "none";
                document.getElementById("div2").style.display = "none";
            }
        }
    </script>



</head>

<body>

    <header>
    	{{#logueado}}
        <div class="menu-cartsession">
            <!-- <nav class="navbar navbar-right"> -->
            <div class="container-fluid">
                <div class="cartsession">
                	<ul>
                		<li>
					        <form action="/logout" method="post" class="text-right">				        
								<input type="submit" value="Sign Out" />
								<input type="hidden" name="_csrf" value="{{token}}"/>
							</form>
							
						</li>
					</ul>
				</div>
			</div>
		</div>
    	{{/logueado}}
        <!--IMPORT MENU-->
        <div id="header"></div>
    </header>


    <br>
    <br>
    <div class="container">
        <div id="admin-add-product">
		 <form class="form-horizontal" action="/admin/edit/{{id}}" method="post" enctype="multipart/form-data">
           <div class="clearfix"></div> 
            <div class="row">
                <div>
                    <ul class="nav nav-tabs col-lg-12" role="tablist">
                        <li class="active"><a href="#Product_main" role="tab" data-toggle="tab">Main</a></li>
                        <li class=""><a href="#Product_Images" role="tab" data-toggle="tab">Images</a></li>
                        <li class=""><a href="#Product_Desc" role="tab" data-toggle="tab">Description</a></li>
                        <li class=""><a href="#Product_StoreMapping" role="tab" data-toggle="tab">Categories</a></li>
                        <!--                    <li class=""><a href="#Product_Options" role="tab" data-toggle="tab">Options</a></li>-->
                    </ul>
                </div>
                
                
             <div class="clearfix"></div> 
             	
             	<!-- PRODUCTO -->
                <div class="Product_Content tab-content">
                	<!-- PRODUCTO PAG PRINCIPAL -->
                    <div id="Product_main" class="tab-pane active">
                            <fieldset>
                                <div class="col-lg-12 form-group margin50">
                                    <label class="col-lg-2" for="Name">Name</label>
                                    <div class="col-lg-4">
                                        <input type="text" id="name" name="Name" placeholder="{{producto.name}}" class="form-control name">
                                    </div>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label class="col-lg-2" for="Brand">Brand</label>
                                    <div class="col-lg-4">
                                        <input type="text" id="brand" name="Brand" placeholder="{{producto.brand}}" class="form-control brand">
                                    </div>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label class="col-lg-2" for="Reference">Reference</label>
                                    <div class="col-lg-4">
                                        <input type="text" id="reference" name="Reference" placeholder="{{producto.reference}}" class="form-control reference">
                                    </div>
                                </div>

                                <div class=" col-lg-12 form-group">
                                    <label class="col-lg-2" for="Typeproduct">Product Type</label>
                                    <div class="col-lg-4">

                                        <div>
                                            <select class="form-control typeproduct" name="type" id="typeproduct" onchange="habilitar(this.value);">
                                                <option value='Select'>-select-</option>
                                                <option value='Lentillas'>Lentillas</option>
                                                <option value='Líquidos'>Líquidos</option>
                                                <option value='Gafas de sol'>Gafas de sol</option>
                                                <option value='Accesorios'>Accesorios</option>
                                            </select>
                                        </div>

                                        <div>
                                            <div id="div3" style="display:;">
                                            </div>

                                            <div id="div1" style="display:none;">
                                                <div class="col-lg-12 form-group">
                                                    <label class="col-lg-2" for="Colour">Colors</label>
                                                    <div class="col-lg-10">
                                                        <input type="text" id="colour" name="Colour" placeholder="{{producto.colour}}" class="form-control colour">
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 form-group">
                                                    <label class="col-lg-2" for="Size">Size</label>
                                                    <div class="col-lg-10">
                                                        <input type="text" id="size" name="Size" placeholder="{{producto.size}}" class="form-control size">
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="div2" style="display:none;">
                                                <div class=" col-lg-12 form-group">
                                                    <label class="col-lg-2" for="Typeproduct">Esfera</label>
                                                    <div class="col-lg-10">
                                                        <select id="typeproduct" name="sphere" class="form-control typeproduct">
                                                            <option value="46" title="+00.25">+00.25</option>
                                                            <option value="47" title="+00.50">+00.50</option>
                                                            <option value="48" title="+00.75">+00.75</option>
                                                            <option value="49" title="+01.00">+01.00</option>
                                                            <option value="50" title="+01.25">+01.25</option>
                                                            <option value="51" title="+01.50">+01.50</option>
                                                            <option value="52" title="+01.75">+01.75</option>
                                                            <option value="53" title="+02.00">+02.00</option>
                                                            <option value="54" title="+02.25">+02.25</option>
                                                            <option value="55" title="+02.50">+02.50</option>
                                                            <option value="56" title="+02.75">+02.75</option>
                                                            <option value="57" title="+03.00">+03.00</option>
                                                            <option value="58" title="+03.25">+03.25</option>
                                                            <option value="59" title="+03.50">+03.50</option>
                                                            <option value="60" title="+03.75">+03.75</option>
                                                            <option value="61" title="+04.00">+04.00</option>
                                                            <option value="62" title="+04.25">+04.25</option>
                                                            <option value="63" title="+04.50">+04.50</option>
                                                            <option value="64" title="+04.75">+04.75</option>
                                                            <option value="65" title="+05.00">+05.00</option>
                                                            <option value="66" title="+05.25">+05.25</option>
                                                            <option value="67" title="+05.50">+05.50</option>
                                                            <option value="68" title="+05.75">+05.75</option>
                                                            <option value="69" title="+06.00">+06.00</option>
                                                            <option selected="selected" value="44" title="-00.25">-00.25</option>
                                                            <option value="43" title="-00.50">-00.50</option>
                                                            <option value="42" title="-00.75">-00.75</option>
                                                            <option value="41" title="-01.00">-01.00</option>
                                                            <option value="40" title="-01.25">-01.25</option>
                                                            <option value="39" title="-01.50">-01.50</option>
                                                            <option value="38" title="-01.75">-01.75</option>
                                                            <option value="37" title="-02.00">-02.00</option>
                                                            <option value="36" title="-02.25">-02.25</option>
                                                            <option value="35" title="-02.50">-02.50</option>
                                                            <option value="34" title="-02.75">-02.75</option>
                                                            <option value="33" title="-03.00">-03.00</option>
                                                            <option value="32" title="-03.25">-03.25</option>
                                                            <option value="31" title="-03.50">-03.50</option>
                                                            <option value="30" title="-03.75">-03.75</option>
                                                            <option value="29" title="-04.00">-04.00</option>
                                                            <option value="28" title="-04.25">-04.25</option>
                                                            <option value="27" title="-04.50">-04.50</option>
                                                            <option value="26" title="-04.75">-04.75</option>
                                                            <option value="25" title="-05.00">-05.00</option>
                                                            <option value="24" title="-05.25">-05.25</option>
                                                            <option value="23" title="-05.50">-05.50</option>
                                                            <option value="22" title="-05.75">-05.75</option>
                                                            <option value="21" title="-06.00">-06.00</option>
                                                            <option value="19" title="-06.50">-06.50</option>
                                                            <option value="17" title="-07.00">-07.00</option>
                                                            <option value="15" title="-07.50">-07.50</option>
                                                            <option value="13" title="-08.00">-08.00</option>
                                                            <option value="12" title="-08.50">-08.50</option>
                                                            <option value="11" title="-09.00">-09.00</option>
                                                            <option value="10" title="-09.50">-09.50</option>
                                                            <option value="9" title="-10.00">-10.00</option>
                                                            <option value="76" title="-10.50">-10.50</option>
                                                            <option value="75" title="-11.00">-11.00</option>
                                                            <option value="74" title="-11.50">-11.50</option>
                                                            <option value="73" title="-12.00">-12.00</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class=" col-lg-12 form-group">
                                                    <label class="col-lg-2" for="Typeproduct">Radio</label>
                                                    <div class="col-lg-10">
                                                        <select id="typeproduct" name="radio" class="form-control typeproduct">
                                                            <option value="106" selected="selected" title="08.50">08.50</option>
                                                            <option value="107" title="09.00">09.00</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 form-group">
                                    <label class="col-lg-2" for="Published">Published</label>
                                    <div class="col-lg-4">
                                        <input type="radio" name="published" class="input-xlarge"><span>No</span>
                                        <input type="radio" name="published" checked class="input-xlarge"><span>Yes</span>
                                    </div>
                                </div>

                                <div class="col-lg-12 form-group">
                                    <label class="col-lg-2" for="Price">Price</label>
                                    <div class="col-lg-4">
                                        <input type="text" id="price" name="price" placeholder="{{producto.price}}" class="form-control price">
                                    </div>
                                </div>

                                <div class="col-lg-12 form-group">
                                    <label class="col-lg-2" for="Quantity">Quantity</label>
                                    <div class="col-lg-4">
                                        <input type="text" id="quantity" name="Quantity" placeholder="{{producto.quantity}}" class="form-control quantity">
                                    </div>
                                </div>

                            </fieldset>
                    </div>
                    <!--FIN PRODUCTO PAG PRINCIPAL -->
                    
                    <!--  DIV SUBIDA IMÁGENES -->
                    
                    <div id="Product_Images" class="tab-pane">
                    
                	
                        <div class="col-lg-12 form-group margin50">
                            <label class="col-sm-2" for="exampleInputFile">Title</label>   
                            <div class="col-sm-4">
                                <input type="text" id="small" name="imageTitle">
                            </div>
                        </div>
                    
                    
                        <div class="col-lg-12 form-group margin50">
                            <label class="col-sm-2" for="exampleInputFile">Image</label>   
                            <div class="col-sm-4">
                                <input type="file" id="small" name="file" >
                            </div>
                        </div>
                   	
                    </div>
                    
                    <!--  FIN SUBIDA DE IMÁGENES -->
                    
					<!-- DESCRIPTION -->
                    <div id="Product_Desc" class="tab-pane">
                        <div class="col-lg-12 form-group margin50">
                            <label class="col-sm-2" for="Description">Description</label>
                            <div class="col-sm-4">
                                <textarea class="form-control description" id="description" name="Description" placeholder="{{producto.description}}"></textarea>
                            </div>
                        </div>
                    </div>
					<!--FIN DESCRIPTION -->
					<!-- CATEGORIES -->
                    <div id="Product_StoreMapping" class="tab-pane">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Store</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-10">
                                    <label>
                                        <input type="checkbox" class="retail">Retail
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-10">
                                    <label>
                                        <input type="checkbox" class="professional">Professionals
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- CATEGORIES -->
                    
                </div>
                <!--FIN PRODUCTO -->
            </div>
            
            <div>
                <div class="Product_Button col-lg-offset-6">
                    <a href="#" class="btn btn-primary"><i class=""></i><strong>CLOSE</strong></a>
                    <a href="#" class="btn btn-primary"><i class=""></i><strong>SAVE AND CLOSE</strong></a>
                   	
                   <!--  	<a href="#" class="btn btn-primary"><i class=""></i><strong>SAVE</strong></a> -->
                   
                   	<input type='submit' value='save' class="btn btn-primary"/>
                  
                   	<input type="hidden" name="_csrf" value="{{token}}"/>
                </div> 
            </div>
            
            
   		</form>
        </div>
    </div>
    



    <div id="footer"></div>

</body>

</html>