<!-- index.html | JJ-->

<!DOCTYPE html>
<html lang=es>

<head>
    <link href="images/lince.png" type="image/x-icon" rel="shortcut icon" />
    <title>VisionLynx</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="css/menunavbar.css" />
    <link type="text/css" rel="stylesheet" href="css/carouselnew.css" />


    <!--SCRIPT TO IMPORT MENU AND FOOTER-->
    <script>
    //en caso de que se haya loqueado
    {{#logueado}}
    	//y es admin
    	{{#admin}}
	    	 $(function () {
	             $("#header").load("header_Admin.html");
	         });
	         $(function () {
	             $("#footer").load("footer.html");
	         });    
	    {{/admin}}
	    //y no es admin, es decir, es un usuario
	    {{^admin}}
	        $(function () {
	            $("#header").load("header_loginOk.html");
	       	 });
	        $(function () {
	            $("#footer").load("footer.html");
	        });
        {{/admin}}
        
    {{/logueado}}
    
    {{^logueado}}
	    $(function () {
	        $("#header").load("header.html");
	    });
	    $(function () {
	        $("#footer").load("footer.html");
	    });
	{{/logueado}} 
    
    </script>
</head>

<body>

	
    <header>
        <!--IMPORT MENU-->
        {{#logueado}}
        <div class="menu-cartsession">
            <!-- <nav class="navbar navbar-right"> -->
            <div class="container-fluid">
                <div class="cartsession">
                	<ul>
                		<li>
					        <form action="/logout" method="post" class="text-right">				        
								<input type="submit" value="Sign Out" />
								<input type="hidden" name="_csrf" value="{{token}}"/>
							</form>
							
						</li>
					</ul>
				</div>
			</div>
		</div>
    	{{/logueado}}
    	
        <div id="header"></div>
        
    </header>
    
     
    

    <!-- CAROUSEL NEWS -->
    <section id="carousel-section">
        <div id="carousel-news" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-news" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-news" data-slide-to="1"></li>
                <li data-target="#carousel-news" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <a href="#"><img class="img-responsive" src="images\vvaa_1920x720_1.jpg" /></a>
                    <div class="carousel-caption">
                        <h3>1</h3>
                        <p>...</p>
                    </div>
                </div>
                <div class="item">
                    <a href="#"><img class="img-responsive" src="images\vvaa_1920x720_2.jpg" /></a>
                    <div class="carousel-caption">
                        <h3>2</h3>
                        <p>...</p>
                    </div>
                </div>
                <div class="item">
                    <a href="#"><img class="img-responsive" src="images\vvaa_1920x720_3.jpg" /></a>
                    <div class="carousel-caption">
                        <h3>3</h3>
                        <p>...</p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-news" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
            <a class="right carousel-control" href="#carousel-news" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
        </div>
    </section>
    <!-- FIN CAROUSEL NEWS -->
    <!-- CAROUSEL PRODUCTS -->
    <section id="carousel-section-products">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-md-12">
                    	
                        <h2>Productos más destacados</h2>
                    </div>
                    <div class="col-md-12">
                        <!-- Controls -->
                        <div class="controls pull-right">
                            <a class="left fa fa-chevron-left btn btn-primary" href="#carousel-example-generic" data-slide="prev"></a>
                            <a class="right fa fa-chevron-right btn btn-primary" href="#carousel-example-generic" data-slide="next"></a>
                        </div>
                    </div>
                </div>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="col-item">
                                        <div class="photo"> <img src="http://placehold.it/350x260" class="img-responsive" alt="a" /> </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="price col-md-12">
                                                    <h5>
                                                Sample Product</h5>
                                                    <h5 class="price-text-color">
                                                $199.99</h5> </div>
                                                <div class="rating hidden-sm col-md-6"> <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i> </div>
                                            </div>
                                            <div class="separator clear-left">
                                                <p class="btn-add"> <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com">Add to cart</a></p>
                                                <p class="btn-details"> <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com">More details</a></p>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="col-item">
                                        <div class="photo"> <img src="http://placehold.it/350x260" class="img-responsive" alt="a" /> </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="price col-md-12">
                                                    <h5>
                                                Product Example</h5>
                                                    <h5 class="price-text-color">
                                                $249.99</h5> </div>
                                                <div class="rating hidden-sm col-md-6"> </div>
                                            </div>
                                            <div class="separator clear-left">
                                                <p class="btn-add"> <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com">Add to cart</a></p>
                                                <p class="btn-details"> <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com">More details</a></p>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="col-item">
                                        <div class="photo"> <img src="http://placehold.it/350x260" class="img-responsive" alt="a" /> </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="price col-md-12">
                                                    <h5>
                                                Next Sample Product</h5>
                                                    <h5 class="price-text-color">
                                                $149.99</h5> </div>
                                                <div class="rating hidden-sm col-md-6"> <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i> </div>
                                            </div>
                                            <div class="separator clear-left">
                                                <p class="btn-add"> <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com">Add to cart</a></p>
                                                <p class="btn-details"> <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com">More details</a></p>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="col-item">
                                        <div class="photo"> <img src="http://placehold.it/350x260" class="img-responsive" alt="a" /> </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="price col-md-12">
                                                    <h5>
                                                Product with Variants</h5>
                                                    <h5 class="price-text-color">
                                                $199.99</h5> </div>
                                                <div class="rating hidden-sm col-md-6"> <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i> </div>
                                            </div>
                                            <div class="separator clear-left">
                                                <p class="btn-add"> <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com">Add to cart</a></p>
                                                <p class="btn-details"> <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com">More details</a></p>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="col-item">
                                        <div class="photo"> <img src="http://placehold.it/350x260" class="img-responsive" alt="a" /> </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="price col-md-12">
                                                    <h5>
                                                Grouped Product</h5>
                                                    <h5 class="price-text-color">
                                                $249.99</h5> </div>
                                                <div class="rating hidden-sm col-md-6"> </div>
                                            </div>
                                            <div class="separator clear-left">
                                                <p class="btn-add"> <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com">Add to cart</a></p>
                                                <p class="btn-details"> <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com">More details</a></p>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="col-item">
                                        <div class="photo"> <img src="http://placehold.it/350x260" class="img-responsive" alt="a" /> </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="price col-md-12">
                                                    <h5>
                                                Product with Variants</h5>
                                                    <h5 class="price-text-color">
                                                $149.99</h5> </div>
                                                <div class="rating hidden-sm col-md-6"> <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i> </div>
                                            </div>
                                            <div class="separator clear-left">
                                                <p class="btn-add"> <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com">Add to cart</a></p>
                                                <p class="btn-details"> <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com">More details</a></p>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FIN CAROUSEL PRODUCTS -->
    <div id="footer"></div>
</body>

</html>