<!-- acceso.html || Dina -->

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="images/lince.png" type="image/x-icon" rel="shortcut icon" />
    <title>VisionLynx</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="css/menunavbar.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />

    <!--SCRIPT TO IMPORT MENU AND FOOTER-->
    <script>
        $(function () {
            $("#header").load("header.html");
        });
        $(function () {
            $("#footer").load("footer.html");
        });
    </script>
</head>

<body>

    <header>
        <!--IMPORT MENU-->
        <div id="header"></div>
    </header>



    <!rejilla con diferentes secciones>
    <div id="login_form">
        <div class="container">
            <br>
            <br>
            <div class="page" id="banner">
                <div class="row">
                    <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 text-justify">
                        <!-- Título -->
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="page-header">
                                    <h1 id="forms">¡Regístrate ahora! <small>Crea o acceda a su cuenta </small></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Columna Izquierda -->
                    <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 text-justify">
                        <!-- Formulario -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="well bs-component">
                                    <form class="form">
                                        <fieldset>
                                            <legend>Crear una cuenta</legend>
                                            <div class="form-group">
                                                <label for="inputEmail" class="col-lg-12 control-label">Escriba su correo electrónico para crear su cuenta</label>
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" id="inputPassword" placeholder="Correo Electrónico">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <br>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-12">
                                                    <a href="create_account.html" class="btn btn-primary">
                                                    Crear una cuenta
                                                </a>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Columna Derecha -->
                    <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 text-justify">
                        <!-- Formulario -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="well bs-component">
                                    <form class="form" action="/login" method="post">
                                        <fieldset>
                                            <legend>¿Ya está registrado?</legend>
                                            <div class="form-group">
                                                <label for="inputEmail" class="col-lg-12 control-label">Introduzca su correo electrónico</label>
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" id="inputPassword" placeholder="Correo Electrónico"
                                                    name="username">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputEmail" class="col-lg-12">Introduce su contraseña</label>
                                                <div class="col-lg-12">
                                                    <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña"
                                                    name="password">
                                                 
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <br>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-12">
                                                    <a href="profile.html">
                                                        <button type="submit" class="btn btn-primary" value="Sign In">Iniciar sesión</button>
                                                    </a>
                                                    <input type="hidden" name="_csrf" value="{{token}}"/>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <br>
                                            </div>
                                            <div class="col-lg-12">
                                                <br>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer"></div>
</body>

</html>