<!-- producto.html | Thais -->
<!DOCTYPE html>
<html lang="en">

<head>
<link href="images/lince.png" type="image/x-icon" rel="shortcut icon" />
<title>VisionLynx</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<link type="text/css" rel="stylesheet" href="css/menunavbar.css" />
<link type="text/css" rel="stylesheet" href="css/carouselnew.css" />
<link type="text/css" rel="stylesheet" href="css/style.css" />
<link type="text/css" rel="stylesheet" href="css/estilos.css" />
<!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <link type="text/css" rel="stylesheet" href="estilos.css" />-->
<link type="text/css" rel="stylesheet" href="/dinacss.css" />
<link type="text/css" rel="stylesheet" href="css/bootstraptheme.css" />

<script src="js/open-menu.js"></script>


<!--SCRIPT TO IMPORT MENU AND FOOTER-->
<script>
    //en caso de que se haya loqueado
    {{#logueado}}
    	//y es admin
    	{{#admin}}
	    	 $(function () {
	             $("#header").load("header_Admin.html");
	         });
	         $(function () {
	             $("#footer").load("footer.html");
	         });    
	    {{/admin}}
	    //y no es admin, es decir, es un usuario
	    {{^admin}}
	        $(function () {
	            $("#header").load("header_loginOk.html");
	       	 });
	        $(function () {
	            $("#footer").load("footer.html");
	        });
        {{/admin}}
        
    {{/logueado}}
    
    {{^logueado}}
	    $(function () {
	        $("#header").load("header.html");
	    });
	    $(function () {
	        $("#footer").load("footer.html");
	    });
	{{/logueado}}

    </script>
</head>


<body>

	<header>
		<!--IMPORT MENU-->
		<div id="header"></div>
	</header>
	<br>
	<br>
	<br>
	<div class="container">
		<div id="products">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-justify">
				<div class="container">
					<ol class="breadcrumb">
						<li><a href="#" class="glyphicon glyphicon-home"></a> <span
							class="navigation-pipe">&gt;</span></li>
						<li><a href="#">Gafas de Sol</a></li>
						<li class="active"><span>Rayban</span></li>
					</ol>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-justify">
				<!-- product -->
				<div class="product-content product-wrap clearfix product-deatil">
					<div class="row">
						<div class="col-md-1 col-sm-12 col-xs-12"></div>
						<div class="col-md-3 col-sm-12 col-xs-12">
							<br>
							<div class="product-image">
								<div id="myCarousel-2" class="carousel slide">
									<ol class="carousel-indicators">
										<li data-target="#myCarousel-2" data-slide-to="0" class=""></li>
										<li data-target="#myCarousel-2" data-slide-to="1"
											class="active"></li>
										<li data-target="#myCarousel-2" data-slide-to="2" class=""></li>
									</ol>
									<div class="carousel-inner">
										<!-- Slide 1 -->
										<div class="item active">
											<img src="http://lorempixel.com/300/300/fashion" alt="">
										</div>
										<!-- Slide 2 -->
										<div class="item">
											<img src="http://lorempixel.com/300/300/fashion" alt="">
										</div>
										<!-- Slide 3 -->
										<div class="item">
											<img src="http://lorempixel.com/300/300/fashion" alt="">
										</div>
									</div>
									<a class="left carousel-control" href="#myCarousel-2"
										data-slide="prev"> <span
										class="glyphicon glyphicon-chevron-left"></span>
									</a> <a class="right carousel-control" href="#myCarousel-2"
										data-slide="next"> <span
										class="glyphicon glyphicon-chevron-right"></span>
									</a>
								</div>
							</div>
						</div>

						<form action="/usercart_post" method="post"
							enctype="multipart/form-data">
							{{#product_rayban}}
							<div class="col-md-7 col-sm-12 col-xs-12">
								<h2 class="name">{{name}}</h2>
								<input type="hidden" name="id" id="id" value="{{id}}" /> <input
									type="hidden" name="name" id="name" value="{{name}}" />
								<hr>
								<div class="col-lg-12 col-sm-12 col-xs-12">
									<div class="col-lg-12 col-sm-12 col-xs-12">
										<h3 class="price-container">
											{{price}} €<small>IVA incluído</small>
										</h3>
										<input type="hidden" name="price" id="price" value="{{price}}" />
									</div>
									<div class="col-lg-3 col-sm-3 col-xs-3">
										<p>Cantidad:</p>
										<select class="form-control" name="quantity">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="16">16</option>
											<option value="17">17</option>
											<option value="18">18</option>
											<option value="19">19</option>
											<option value="20">20</option>
										</select>
									</div>
								</div>
								<br>
								<hr>
								<div class="col-lg-12 col-sm-12 col-xs-12">
									<br>

									<div class="certified">

										<ul>
											<li><a href="javascript:void(0);">Tiempo de entrega:
													<span>7 días laborales</span>
											</a></li>
											<li><a href="javascript:void(0);">Certified: <span>Quality
														Assured</span></a></li>
										</ul>
									</div>
								</div>
								<br> <br> <br>
								<hr>

								<div class="description description-tabs">

									<div id="myTabContent" class="tab-content">
										<div class="tab-pane fade active in" id="more-information">
											<br> <strong>Referencia: 21006065</strong>
											<p>Las gafas de sol Ray-Ban Justin RB4165 son unas de las
												m originales de la colecci Ray-Ban. Inspirado por las
												emblemicas gafas de sol Wayfarer, los nuevos colores
												degradados de la montura, las nuevas e impresionantes lentes
												de colores y su acabado en goma aden un toque divertido,
												intrido y vanguardista a tu estilo.</p>
										</div>

									</div>
								</div>

								<input type="hidden" name="size" value="{{size}}" /> <input
									type="hidden" name="sphere" value="{{sphere}}" /> <input
									type="hidden" name="radio" value="{{radio}}" />   <input
									type="hidden" name="image" value="{{image}}" />

								{{/product_rayban}}
								<hr>


								<div class="row">
									<div class="col-sm-12 col-md-6 col-lg-6">

										<input type="submit" class="btn btn-success btn-lg"
											value="Add to Cart" /> <input type="hidden" name="_csrf"
											value="{{token}}" />

									</div>
								</div>
							</div>	
						</form>
					</div>
				</div>



			</div>
			<!--  fin div class row -->
		</div>

		<!-- end product -->
	</div>
	<!--  </div>
	</div> -->

	<br>
	<br>
	<div id="footer"></div>

</body>

</html>