<html>

<head>
    <link href="images/lince.png" type="image/x-icon" rel="shortcut icon" />
    <title>VisionLynx</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="css/menunavbar.css" />
    <link type="text/css" rel="stylesheet" href="css/carouselnew.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <!--<link href="libs/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet"/> -->
    <script src="libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="libs/jquery-2.2.1.min.js"></script>
    <script src="libs/jquery.bpopup.min.js"></script>
    <script src="libs/popupAnimation.js"></script>


    <!--SCRIPT TO IMPORT MENU AND FOOTER-->
    <script>
        $(function () {
            $("#header").load("header.html");
        });
        $(function () {
            $("#footer").load("footer.html");
        });
    </script>
</head>

<body>
    <header>
        <!--IMPORT MENU-->
        <div id="header"></div>
    </header>

    <div class="container">
        <h1 class="page-header">User Profile</h1>
        <div class="row">
            <!-- left column -->
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="text-center">
                    <img src="images/profile_image.png" class="avatar img-circle img-thumbnail" alt="avatar">
                </div>
                <div class="text-center">
                    <br>
                    <!--<button type="submit" class="btn btn-success" id="changePass">Cambiar Contraseña</button>-->
                </div>
                <br>
                <div class="text-center">
                    <a href="user_orders.html" type="button" class="btn btn-success">Mis Pedidos</a>
                </div>


            </div>
            <div class="col-md-9 col-sm-9 col-xs-9 personal-info test">
                <!-- Columna de datos personales -->
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Datos personales</h3></div>
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputName" class="col-lg-2 control-label">Nombre</label>
                                    <div class="col-lg-9 col-lg-offset-1">
                                        <input type="text" class="form-control" id="inputName" placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputSurname" class="col-lg-2 control-label">Apellidos</label>
                                    <div class="col-lg-9 col-lg-offset-1">
                                        <input type="text" class="form-control" id="inputSurname" placeholder="Surname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                    <div class="col-lg-9 col-lg-offset-1">
                                        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress" class="col-lg-2 control-label">Dirección</label>
                                    <div class="col-lg-9 col-lg-offset-1">
                                        <input type="text" class="form-control" id="inputAddess" placeholder="Calle, número, piso">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputCP" class="col-lg-2 control-label">Código Postal</label>
                                    <div class="col-lg-9 col-lg-offset-1">
                                        <input type="text" class="form-control" id="inputCP" placeholder="Postal Code">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-6">
                                        <button type="reset" class="btn btn-default">Cancelar</button>
                                        <button type="submit" class="btn btn-success">Aceptar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Columna de datos personales -->
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Cambiar contraseña</h3></div>
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputOld" class="col-lg-2 control-label">Contraseña Actual</label>
                                    <div class="col-lg-9 col-lg-offset-1">
                                        <input type="password" class="form-control" id="inputOld" placeholder="Old Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPass" class="col-lg-2 control-label">Nueva contraseña</label>
                                    <div class="col-lg-9 col-lg-offset-1">
                                        <input type="password" class="form-control" id="inputPass" placeholder="New Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputConfirm" class="col-lg-2 control-label">Confirmar contraseña</label>
                                    <div class="col-lg-9 col-lg-offset-1">
                                        <input type="password" class="form-control" id="inputConfirm" placeholder="Confirm Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-6">
                                        <button type="reset" class="btn btn-default">Cancelar</button>
                                        <button type="submit" class="btn btn-success">Aceptar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <!-- Columna de prescripcion -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Prescripción</h3></div>
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="col-md-6">
                                    <legend class="partitle">Ojo Izquierdo</legend>
                                    <div class="form-group">
                                        <label for="inputSphereL" class="col-lg-2 control-label">Esfera</label>
                                        <div class="col-lg-9 col-lg-offset-1">
                                            <input type="text" class="form-control" id="inputSphereL" placeholder="SphereL">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputRadioL" class="col-lg-2 control-label">Radio</label>
                                        <div class="col-lg-9 col-lg-offset-1">
                                            <input type="text" class="form-control" id="inputRadioL" placeholder="RadioL">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputDL" class="col-lg-2 control-label">Diámetro</label>
                                        <div class="col-lg-9 col-lg-offset-1">
                                            <input type="text" class="form-control" id="inputDL" placeholder="DL">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <legend class="partitle">Ojo Derecho</legend>
                                    <div class="form-group">
                                        <label for="inputSphereR" class="col-lg-2 control-label">Esfera</label>
                                        <div class="col-lg-9 col-lg-offset-1">
                                            <input type="text" class="form-control" id="inputSphereR" placeholder="SphereR">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputRadioR" class="col-lg-2 control-label">Radio</label>
                                        <div class="col-lg-9 col-lg-offset-1">
                                            <input type="text" class="form-control" id="inputRadioR" placeholder="RadioR">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputDR" class="col-lg-2 control-label">Diámetro</label>
                                        <div class="col-lg-9 col-lg-offset-1">
                                            <input type="text" class="form-control" id="inputDR" placeholder="DR">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-4">
                                            <button type="reset" class="btn btn-default">Cancelar</button>
                                            <button type="submit" class="btn btn-success">Aceptar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>




                <!-- <div class="formulario col-md-6 col-sm-6 col-xs-12" id="password">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Cambiar Contraseña</h3>
                      </div>
                      <div class="modal-body">
                        <form class="form-horizontal">
                             <div class="form-group">
                                  <label for="inputOld" class="col-lg-2 control-label">Contraseña Actual</label>
                                  <div class="col-lg-9 col-lg-offset-1">
                                          <input type="password" class="form-control" id="inputOld" placeholder="Old Password">
                                  </div>
                             </div>
                             <div class="form-group">
                                  <label for="inputPass" class="col-lg-2 control-label">Nueva contraseña</label>
                                  <div class="col-lg-9 col-lg-offset-1">
                                          <input type="password" class="form-control" id="inputPass" placeholder="New Password">
                                  </div>
                             </div>
                             <div class="form-group">
                                  <label for="inputConfirm" class="col-lg-2 control-label">Confirmar contraseña</label>
                                  <div class="col-lg-9 col-lg-offset-1">
                                       <input type="password" class="form-control" id="inputConfirm" placeholder="Confirm Password">
                                  </div>
                             </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-success">Guardar</button>
                      </div>
                    </div>
                  </div>
                </div>-->





            </div>
        </div>
    </div>



    <div id="footer"></div>


</body>

</html>