<!-- misOfertas.html | Yasmina -->

<!DOCTYPE html>
<html lang="en">

<head>
   <!--   <link href="images/lince.png" type="image/x-icon" rel="shortcut icon" />
    <title>VisionLynx</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    
    <link type="text/css" rel="stylesheet" href="css/menunavbar.css" />
    <link type="text/css" rel="stylesheet" href="css/carouselnew.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    
    <script src="js/open-menu.js"></script>
    <script src="js/admin-search.js"></script> -->
    
     <link href="images/lince.png" type="image/x-icon" rel="shortcut icon" />
    <title>VisionLynx</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="css/menunavbar.css" />
    <link type="text/css" rel="stylesheet" href="css/carouselnew.css" />
    



    <!--SCRIPT TO IMPORT MENU AND FOOTER-->
    <script>

    //en caso de que se haya loqueado
    {{#logueado}}
    	//y es admin
    	{{#admin}}
	    	 $(function () {
	             $("#header").load("header_Admin.html");
	         });
	         $(function () {
	             $("#footer").load("footer.html");
	         });    
	    {{/admin}}
	    //y no es admin, es decir, es un usuario
	    {{^admin}}
	        $(function () {
	            $("#header").load("header_loginOk.html");
	       	 });
	        $(function () {
	            $("#footer").load("footer.html");
	        });
        {{/admin}}
        
    {{/logueado}}   
    {{^logueado}}
	    $(function () {
	        $("#header").load("header.html");
	    });
	    $(function () {
	        $("#footer").load("footer.html");
	    });
	{{/logueado}} 
    </script>
</head>

<!--<head>



    <script src="libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="libs/ofertas.js"></script>


</head>-->

<body>

    <header>
        <!--IMPORT MENU-->
        {{#logueado}}
        <div class="menu-cartsession">
            <!-- <nav class="navbar navbar-right"> -->
            <div class="container-fluid">
                <div class="cartsession">
                	<ul>
                		<li>
					        <form action="/logout" method="post" class="text-right">				        
								<input type="submit" value="Sign Out"  class="btn btn-info btn-xs" />
								<input type="hidden" name="_csrf" value="{{token}}"/>
							</form>
							
						</li>
					</ul>
				</div>
			</div>
		</div>
    	{{/logueado}}
        
        
        <div id="header"></div>
    </header>
    <br>
    <br>

    <div id="offers">
 
       <!--  <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">

                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        Controls
                        <div class="controls pull-right hidden-xs">
                            <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a>
                            <a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
                    Wrapper for slides
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                            
                           {{#offers}}
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <article class="col-item">
                                        <div class="photo">
                                            <div class="options">
                                                <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Favoritos">
                                                    <i class="fa fa-heart-o"></i>
                                                </button>
                                                <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Carro">
                                                    <i class="fa fa-cart-arrow-down"></i>
                                                </button>
                                            </div>
                                            <a href="#"> <img src="img/gafas1.jpg" class="img-responsive " alt="Product Image" /> </a>
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="price-details col-md-6">
                                                    <p class="details">{{category}}</p>
                                                    <h1>OFF</h1>
                                                    <span class="price-new">{{price}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                               {{/offers}} 
                              
  
                                <div class="clearfix">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        
<!-- ----------------------------------- -->        

    <section id="carousel-section-products">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-md-12">
                    	
                        <h4>DESCUENTOS ESPECIALES SOLO EN NUESTRA WEB</h4>
                        <hr>
                    </div>
                    <div class="col-md-12">
                        <!-- Controls -->
                        <div class="controls pull-right">
                        {{#showPrev}}
                            <a class="left fa fa-chevron-left btn btn-primary" 
                               href="/offers?page={{prevPage}}" 
                               data-slide="prev"><
                           </a>
                         {{/showPrev}}  
                         {{#showNext}} 
                            <a class="right fa fa-chevron-right btn btn-primary" 
                            href="/offers?page={{nextPage}}" data-slide="next">>
                            </a>
                         {{/showNext}}
                        </div>
                    </div>
                </div>
                
                
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        
                       
                        <div class="item active">
                            <div class="row">
                           
                                  <!-- abajo habría  col-sm4 para hacerlo igual que en la pagina principal -->
<!--                               {{#offers}}
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                              
                                    <div class="col-item">
                                        <div class="photo"> <img src="http://placehold.it/350x260" class="img-responsive" alt="a" /> </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="price col-md-12">
                                                    <h5>
                                                   {{category}}</h5>
                                                    <h5 class="price-text-color">
                                                ${{price}}</h5> </div>
                                                <div class="rating hidden-sm col-md-6"> <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i> </div>
                                            </div>
                                            <div class="separator clear-left">
                                                <p class="btn-add"> <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com">Add to cart</a></p>
                                                
                                                <p class="btn-details"> <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com">More details</a></p>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                    </div>
                                </div>
                                {{/offers}}  -->
                                
                              {{#offers}}
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <article class="col-item">
                                        <div class="photo">
                                            <div class="options">
                                                <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Favoritos">
                                                    <i class="fa fa-heart-o"></i>
                                                </button>
                                                <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Carro">
                                                    <i class="fa fa-cart-arrow-down"></i>
                                                </button>
                                            </div>
                                            <a href="#"> <img src="images/gafas1.jpg" class="img-responsive " alt="Product Image" /> </a>
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="price-details col-md-6">
                                                    <p class="details">{{category}}</p>                                     
                                                    <span class="price-new">${{price}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                               {{/offers}}  
                                
                                
                                
                                 
                            </div>
                        </div>
      
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- ----------------------------------- -->
             
    </div> <!-- Fin div id="offers" -->
    <br>
    
    <div id="footer"></div>


</body>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>