<!-- Micarrito.html | Yasmina -->
<html lang="es">

<head>
    <link href="images/lince.png" type="image/x-icon" rel="shortcut icon" />
    <title>VisionLynx</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="css/menunavbar.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />


    <!--SCRIPT TO IMPORT MENU AND FOOTER-->
    <script>
    //en caso de que se haya loqueado
    {{#logueado}}
    	//y es admin
    	{{#admin}}
	    	 $(function () {
	             $("#header").load("header_Admin.html");
	         });
	         $(function () {
	             $("#footer").load("footer.html");
	         });    
	    {{/admin}}
	    //y no es admin, es decir, es un usuario
	    {{^admin}}
	        $(function () {
	            $("#header").load("header_loginOk.html");
	       	 });
	        $(function () {
	            $("#footer").load("footer.html");
	        });
        {{/admin}}
        
    {{/logueado}}   
    {{^logueado}}
	    $(function () {
	        $("#header").load("header.html");
	    });
	    $(function () {
	        $("#footer").load("footer.html");
	    });
	{{/logueado}} 
    </script>
</head>

<body>

    <header>
        <!--IMPORT MENU-->
        {{#logueado}}
        <div class="menu-cartsession">
            <!-- <nav class="navbar navbar-right"> -->
            <div class="container-fluid">
                <div class="cartsession">
                	<ul>
                		<li>
					        <form action="/logout" method="post" class="text-right">				        
								<input type="submit" value="Sign Out" />
								<input type="hidden" name="_csrf" value="{{token}}"/>
							</form>
							
						</li>
					</ul>
				</div>
			</div>
		</div>
    	{{/logueado}}
        
        <div id="header"></div>
    </header>



    <br>
    <br>


    <!-- fin header -->
    <!-- inicio contenido -->
    <div id="user_cart">
        <div class="container">
            <div class="bs-docs-section clearfix">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bs-component">
                            <ul class="breadcrumb">
                                <li><a href="/">Home</a></li>
                                <li class="active">Su Carrito</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="bs-docs-section clearfix">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bs-component">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#carrito" data-toggle="tab" aria-expanded="false"><i class="glyphicon glyphicon-shopping-cart"></i>Carrito</a>
                                </li>
                                <li class="disabled">
                                    <a href="#direccion" data-toggle="tab" aria-expanded="true">Finalizar pedido</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>



                <!-- Inicio Carrito -->

				{{#emptycar}}
				<div class="row">
					<div class="col-xs-12">
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in " id="carrito">
								<div class="panel panel-info">
									<div class="panel-heading">
										<div class="panel-title">
											<div class="row">
												<div class="col-xs-6">
														Su carrito está vacío
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				{{/emptycar}} {{^emptycar}}
				<div class="row">
                    <div class="col-xs-12">
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in " id="carrito">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <h5>RESUMEN</h5>
                                                </div>
                                                <div class="col-xs-6">
                                                    <!-- <button type="button" class="btn btn-primary btn-sm btn-block">
                									<span class="glyphicon glyphicon-share-alt"></span> Seguir comprando
                								</button> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                    
                             
                                        
                                        {{#cartm}}
                                                                  <hr>               
                                                                                <div class="row">
                                            <div class="col-xs-2"><img class="img-responsive" src="http://lorempixel.com/100/70">
                                            </div>
                                            <div class="col-xs-4">
                                                <h4 class="product-name"><strong>{{name}} </strong></h4>
                                                <h4><small>Product description</small></h4>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="col-xs-6 text-right">
                                                    <h6><strong>{{price}} <span class="text-muted">x</span></strong></h6>
                                                </div>
                                                <div class="col-xs-4">
                                                    <input type="text" class="form-control input-sm" value="{{quantity}}">
                                                </div>
                                                <div class="col-xs-2">
                                                    <a href="/remove/{{id}}" type="button" class="btn btn-link btn-xs"> <span class="glyphicon glyphicon-trash"> </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        {{/cartm}}
                                        

                                    </div>
                                    <div class="panel-footer">
                                        <div class="row text-right">
                                            <div class="col-md-8 col-xs-4"> </div>
                                            <div class="col-md-2 col-xs-4">
                                                <h5>Subtotal</h5>
                                            </div>
                                            <div class="col-md-2 col-xs-4">
                                                <h5> {{total}} €</h5>
                                            </div>
                                        </div>
                                        <div class="row text-right">
                                            <div class="col-md-8 col-xs-4"> </div>
                                            <div class="col-md-2 col-xs-4">
                                                <h5>Gastos Envío</h5>
                                            </div>
                                            <div class="col-md-2 col-xs-4">
                                                <h5> 0€</h5>
                                            </div>
                                        </div>
                                        <p></p>


                                        <div class="row text-center">
                                            <div class="col-md-6 col-xs-2">
                                                <!--<h4 class="text-right">Total <strong>$50.00</strong></h4> -->
                                            </div>

                                            <div class="col-md-4 col-xs-6">
                                                <a href="/" type="button" class="btn btn-primary btn-sm btn-block">
                                                    <span class="glyphicon glyphicon-share-alt"></span> Seguir comprando
                                                </a>

                                            </div>
                                            <div class="col-md-2 col-xs-4">
                                                <a href="/payment" type="button" class="btn btn-success btn-sm btn-block">
                                                    <span></span>Confirmar
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- fin div panel entero -->

                            </div>


                        </div>
                    </div>
                    <!-- Fin Carrito -->

                </div>
                {{/emptycar}}
                <!-- div class section clearfix -->

            </div>
        </div>
        <!-- /fin container 2-->

    </div>
    <div id="footer"></div>

</body>