<!-- mispedidos.html | Yasmina -->

<html lang="es">

<head>
    <link href="images/lince.png" type="image/x-icon" rel="shortcut icon" />
    <title>VisionLynx</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--borrar??
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/open-menu.js"></script>
    <!---->
    <link type="text/css" rel="stylesheet" href="css/menunavbar.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />

    <!--SCRIPT TO IMPORT MENU AND FOOTER-->
    <script>
        $(function () {
            $("#header").load("header_LoginOk.html");
        });
        $(function () {
            $("#footer").load("footer.html");
        });
    </script>
</head>


<body>

    <header>
        <!--IMPORT MENU-->
        {{#logueado}}
        <div class="menu-cartsession">
            <!-- <nav class="navbar navbar-right"> -->
            <div class="container-fluid">
                <div class="cartsession">
                	<ul>
                		<li>
					        <form action="/logout" method="post" class="text-right">				        
								<input type="submit" value="Sign Out"  class="btn btn-info btn-xs" />
								<input type="hidden" name="_csrf" value="{{token}}"/>
							</form>
							
						</li>
					</ul>
				</div>
			</div>
		</div>
    	{{/logueado}}
        
        
        <div id="header"></div>
    </header>
    <!-- FIN MENU NAVBAR -->
    <!-- CAROUSEL NEWS -->


    <br>
    <br>


    <!-- fin header -->
    <!-- inicio contenido -->

    <div class="container">
        <div class="bs-docs-section clearfix">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-component">

                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Mis Pedidos</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-------------------------------------------------->

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="bs-component">
                    <fieldset>
                        <h4>HISTORIAL DE PEDIDOS <br><br><small> Lista de pedidos desde la creación de su cuenta</small></h4>
                        <hr>
                    </fieldset>

                </div>


                <div class="bs-component">
                    <!-- div tabla de pedidos -->

                    <div class="panel panel-default panel-table">
                        <div class="panel-heading">
                            <div class="tr">
                                <div class="td">Referencia Pedido</div>
                                <div class="td">Fecha</div>
                                <div class="td">Precio</div>
                                <div class="td">Método Pago</div>
                                <div class="td">Estado</div>
                                <div class="td"></div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="tr">
                                <div class="td"><a href="/user_orders_sum">RYCHBODAO</a></div>
                                <div class="td">2017-02-05</div>
                                <div class="td">2,58 €</div>
                                <div class="td">Transferencia bancaria</div>
                                <div class="td">En espera de pago por transferencia bancaria</div>
                                <div class="td"><a href="/user_orders_sum">Detalle</a></div>

                            </div>
                        </div>
                    </div>


                </div>
                <!-- fin bs-component 2 , tabla de pedidos -->

                <hr>

                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-6 pad-adjust">
                        <div class="btn-group btn-group-justified">
                            <a href="profile.html" class="btn btn-primary btn-sm">Volver a Perfil</a>
                            <!-- <a href="index.html" class="btn btn-info btn-sm">Inicio</a>-->
                        </div>
                    </div>

                </div>
                <hr>

            </div>
            <!-- fin col-xs-12"-->

        </div>
    </div>

    <div id="footer"></div>


</body>

</html>