<!-- misOfertas.html | Yasmina -->

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="images/lince.png" type="image/x-icon" rel="shortcut icon" />
    <title>VisionLynx</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="css/menunavbar.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />



    <!--SCRIPT TO IMPORT MENU AND FOOTER-->
    <script>
        $(function () {
            $("#header").load("header.html");
        });
        $(function () {
            $("#footer").load("footer.html");
        });
    </script>
</head>

<!--<head>



    <script src="libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="libs/ofertas.js"></script>


</head>-->

<body>

    <header>
        <!--IMPORT MENU-->
        <div id="header"></div>
    </header>
    <br>
    <br>

    <div id="offers">
    <!--     <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">

                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        Controls
                        <div class="controls pull-right hidden-xs">
                            <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a>
                            <a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
                    Wrapper for slides
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <article class="col-item">
                                        <div class="photo">
                                            <div class="options">
                                                <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Favoritos">
                                                    <i class="fa fa-heart-o"></i>
                                                </button>
                                                <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Carro">
                                                    <i class="fa fa-cart-arrow-down"></i>
                                                </button>
                                            </div>
                                            <a href="#"> <img src="img/lentillas1.jpg" class="img-responsive " alt="Product Image" /> </a>
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="price-details col-md-6">
                                                    <p class="details">Biofinity</p>
                                                    <h1>OFF</h1>
                                                    <span class="price-new">- $10.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <article class="col-item">
                                        <div class="photo">
                                            <div class="options">
                                                <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Favoritos">
                                                    <i class="fa fa-heart-o"></i>
                                                </button>
                                                <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Carro">
                                                    <i class="fa fa-cart-arrow-down"></i>
                                                </button>
                                            </div>
                                            <a href="#"> <img src="img/lentillas3.jpg" class="img-responsive" alt="Product Image" /> </a>
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="price-details col-md-6">
                                                    <p class="details">Acuvue Oasys</p>
                                                    <h1>OFF</h1>
                                                    <span class="price-new">- $20.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <article class="col-item">
                                        <div class="photo">
                                            <div class="options">
                                                <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Favoritos">
                                                    <i class="fa fa-heart-o"></i>
                                                </button>
                                                <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Carro">
                                                    <i class="fa fa-cart-arrow-down"></i>
                                                </button>
                                            </div>
                                            <a href="#"> <img src="img/lentillas2.jpg" class="img-responsive" alt="Product Image" /> </a>
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="price-details col-md-6">
                                                    <p class="details">Air Optix</p>
                                                    <h1>OFF</h1>
                                                    <span class="price-new">- $25.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">

                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <!-- Controls -->
                        <div class="controls pull-right hidden-xs">
                            <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a>
                            <a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <article class="col-item">
                                        <div class="photo">
                                            <div class="options">
                                                <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Favoritos">
                                                    <i class="fa fa-heart-o"></i>
                                                </button>
                                                <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Carro">
                                                    <i class="fa fa-cart-arrow-down"></i>
                                                </button>
                                            </div>
                                            <a href="#"> <img src="img/gafas1.jpg" class="img-responsive " alt="Product Image" /> </a>
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="price-details col-md-6">
                                                    <p class="details">Rayban</p>
                                                    <h1>OFF</h1>
                                                    <span class="price-new">- $15.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <article class="col-item">
                                        <div class="photo">
                                            <div class="options">
                                                <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Favoritos">
                                                    <i class="fa fa-heart-o"></i>
                                                </button>
                                                <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Carro">
                                                    <i class="fa fa-cart-arrow-down"></i>
                                                </button>
                                            </div>
                                            <a href="#"> <img src="img/gafas2.jpg" class="img-responsive" alt="Product Image" /> </a>
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="price-details col-md-6">
                                                    <p class="details">Carrera</p>
                                                    <h1>OFF</h1>
                                                    <span class="price-new">- $20.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <article class="col-item">
                                        <div class="photo">
                                            <div class="options">
                                                <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Favoritos">
                                                    <i class="fa fa-heart-o"></i>
                                                </button>
                                                <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Carro">
                                                    <i class="fa fa-cart-arrow-down"></i>
                                                </button>
                                            </div>
                                            <a href="#"> <img src="img/gafas3.jpg" class="img-responsive" alt="Product Image" /> </a>
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="price-details col-md-6">
                                                    <p class="details">Ralph Lauren</p>
                                                    <h1>OFF</h1>
                                                    <span class="price-new">- $25.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <article class="col-item">
                                        <div class="photo">
                                            <div class="options">
                                                <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Favoritos">
                                                    <i class="fa fa-heart-o"></i>
                                                </button>
                                                <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Carro">
                                                    <i class="fa fa-cart-arrow-down"></i>
                                                </button>
                                            </div>
                                            <a href="#"> <img src="img/gafas4.jpg" class="img-responsive" alt="Product Image" /> </a>
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="price-details col-md-6">
                                                    <p class="details">Cartier</p>
                                                    <h1>OFF</h1>
                                                    <span class="price-new">- $25.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <article class="col-item">
                                        <div class="photo">
                                            <div class="options">
                                                <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Favoritos">
                                                    <i class="fa fa-heart-o"></i>
                                                </button>
                                                <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Carro">
                                                    <i class="fa fa-cart-arrow-down"></i>
                                                </button>
                                            </div>
                                            <a href="#"> <img src="img/gafas5.jpg" class="img-responsive" alt="Product Image" /> </a>
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="price-details col-md-6">
                                                    <p class="details">Prada</p>
                                                    <h1>OFF</h1>
                                                    <span class="price-new">- $25.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="clearfix">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer"></div>


</body>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>