
<script>
    function habilitar(value) {
        if (value == "Select") { // habilitamos
            document.getElementById("div1").style.display = "none";
            document.getElementById("div2").style.display = "none";

        } else if (value == "Lentillas") {
            // deshabilitamos
            document.getElementById("div1").style.display = "none";
            document.getElementById("div2").style.display = "block";

        } else if (value == "Gafas de sol") {
            document.getElementById("div1").style.display = "block";
            document.getElementById("div2").style.display = "none";
        } else {
            document.getElementById("div1").style.display = "none";
            document.getElementById("div2").style.display = "none";
        }
    }
</script>

<br>
<br>
<div class="container">
    <div id="admin-add-product">
        <form class="form-horizontal" action="/admin/add/" method="post" enctype="multipart/form-data">
            <div class="clearfix"></div>
            <div class="row">
                <div>
                    <ul class="nav nav-tabs col-lg-12" role="tablist">
                        <li class="active"><a href="#Product_main" role="tab" data-toggle="tab">Main</a></li>
                        <li class=""><a href="#Product_Desc" role="tab" data-toggle="tab">Description</a></li>
                        <!--                    <li class=""><a href="#Product_Options" role="tab" data-toggle="tab">Options</a></li>-->
                    </ul>
                </div>


                <div class="clearfix"></div>

                <!-- PRODUCTO -->
                <div class="Product_Content tab-content">
                    <!-- PRODUCTO PAG PRINCIPAL -->
                    <div id="Product_main" class="tab-pane active">
                        <fieldset>
                            <div class="col-lg-12 form-group margin50">
                                <label class="col-lg-2" for="Name">Name</label>
                                <div class="col-lg-4">
                                    <input [(ngModel)]="product.name" type="text" id="name" name="Name" placeholder="" class="form-control name">
                                </div>
                            </div>
                            <div class="col-lg-12 form-group">
                                <label class="col-lg-2" for="Brand">Brand</label>
                                <div class="col-lg-4">
                                    <input [(ngModel)]="product.brand" type="text" id="brand" name="Brand" placeholder="" class="form-control brand">
                                </div>
                            </div>
                            <div class="col-lg-12 form-group">
                                <label class="col-lg-2" for="Reference">Reference</label>
                                <div class="col-lg-4">
                                    <input [(ngModel)]="product.reference" type="text" id="reference" name="Reference" placeholder="" class="form-control reference">
                                </div>
                            </div>

                            <div class=" col-lg-12 form-group">
                                <label class="col-lg-2" for="Typeproduct">Product Type</label>
                                <div class="col-lg-4">

                                    <div>
                                        <select [(ngModel)]="product.subtype" class="form-control typeproduct" name="type" id="typeproduct" onchange="habilitar(this.value);">
                                            <option value='Select'>-select-</option>
                                            <option value='Diarias'>Lentillas Diarias</option>
                                            <option value='Mensuales'>Lentillas Mensuales</option>
                                            <option value='Quincenales'>Lentillas Quincenales</option>
                                            <option value='Accesorios'>Accesorios</option>
                                            <option value='Liquidos'>Líquidos</option>
                                            <option value='Marca'>Gafas de sol</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="col-sm-10">
                                        <label>
                                            <input [(ngModel)]="product.published" name="published" value="true" type="checkbox" class="professional">Publicar
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 form-group">
                                <label class="col-lg-2" for="Price">Price</label>
                                <div class="col-lg-4">
                                    <input [(ngModel)]="product.price" type="text" id="price" name="price" placeholder="" class="form-control price">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="col-sm-10">
                                        <label>
                                            <input [(ngModel)]="product.offer" name="offer" type="checkbox" class="professional">Es una oferta
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <!--FIN PRODUCTO PAG PRINCIPAL -->
                    <!-- DESCRIPTION -->
                    <div id="Product_Desc" class="tab-pane">
                        <div class="col-lg-12 form-group margin50">
                            <label class="col-sm-2" for="Description">Description</label>
                            <div class="col-sm-4">
                                <textarea [(ngModel)]="product.description" class="form-control description" id="description" name="Description"></textarea>
                            </div>
                        </div>
                    </div>
                    <!--FIN DESCRIPTION -->
                </div>
                <!--FIN PRODUCTO -->
            </div>

            <div>
                <div class="Product_Button col-lg-offset-6">
                    <a (click)="postProduct()" class="btn btn-primary"><i class=""></i><strong>SAVE</strong></a>
                </div>
            </div>


        </form>
    </div>
</div>
