<!-- CAROUSEL NEWS -->
<section id="carousel-section">
  <div id="carousel-news" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-news" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-news" data-slide-to="1"></li>
      <li data-target="#carousel-news" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <a href="#"><img class="img-responsive" src="assets\images\vvaa_1920x720_1.jpg" /></a>
        <div class="carousel-caption">
          <h3>1</h3>
          <p>...</p>
        </div>
      </div>
      <div class="item">
        <a href="#"><img class="img-responsive" src="assets\images\vvaa_1920x720_2.jpg" /></a>
        <div class="carousel-caption">
          <h3>2</h3>
          <p>...</p>
        </div>
      </div>
      <div class="item">
        <a href="#"><img class="img-responsive" src="assets\images\vvaa_1920x720_3.jpg" /></a>
        <div class="carousel-caption">
          <h3>3</h3>
          <p>...</p>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#carousel-news" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
    <a class="right carousel-control" href="#carousel-news" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
  </div>
</section>
<!-- FIN CAROUSEL NEWS -->
<!-- CAROUSEL PRODUCTS -->
<section id="carousel-section-products">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-md-12">

          <h2>Productos más destacados</h2>
        </div>
        <div class="col-md-12">
          <!-- Controls -->
          <div class="controls pull-right">
            <a class="left fa fa-chevron-left btn btn-primary" href="#carousel-example-generic" data-slide="prev"></a>
            <a class="right fa fa-chevron-right btn btn-primary" href="#carousel-example-generic" data-slide="next"></a>
          </div>
        </div>
      </div>
      <div *ngIf="bestProducts.length != 0" id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
                <div *ngIf="bestProducts.length >= 1">
                    <div class="col-sm-4">
                        <div class="col-item">
                            <div class="photo"> <img [src]="bestProducts[0].image" class="img-responsive" alt="a" /> </div>
                            <div class="info">
                                <div class="row">
                                    <div class="price col-md-12">
                                        <h5>
                                            {{bestProducts[0].name}}</h5>
                                        <h5 class="price-text-color">
                                            {{bestProducts[0].price}} $</h5>
                                    </div>
                                </div>
                                <div class="separator clear-left">
                                    <p class="btn-add"> <i class="fa fa-shopping-cart"></i><a [routerLink]="['/product/', bestProducts[0].id]">Add to cart</a></p>
                                    <p class="btn-details"> <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com">More details</a></p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
              <div *ngIf="bestProducts.length >= 2" class="col-sm-4">
                <div class="col-item">
                  <div class="photo"> <img src="http://placehold.it/350x260" class="img-responsive" alt="a" /> </div>
                  <div class="info">
                    <div class="row">
                      <div class="price col-md-12">
                        <h5>
                            {{bestProducts[1].name}}</h5>
                        <h5 class="price-text-color">
                            {{bestProducts[1].price}} $</h5> </div>
                    </div>
                    <div class="separator clear-left">
                      <p class="btn-add"> <i class="fa fa-shopping-cart"></i><a [routerLink]="['/product/', bestProducts[1].id]" >Add to cart</a></p>
                      <p class="btn-details"> <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com">More details</a></p>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
              <div *ngIf="bestProducts.length >= 3" class="col-sm-4">
                <div class="col-item">
                  <div class="photo"> <img src="http://placehold.it/350x260" class="img-responsive" alt="a" /> </div>
                  <div class="info">
                      <div class="row">
                          <div class="price col-md-12">
                              <h5>
                                  {{bestProducts[2].name}}</h5>
                              <h5 class="price-text-color">
                                  {{bestProducts[2].price}} $</h5> </div>
                      </div>
                    <div class="separator clear-left">
                      <p class="btn-add"> <i class="fa fa-shopping-cart"></i><a [routerLink]="['/product/', bestProducts[2].id]">Add to cart</a></p>
                      <p class="btn-details"> <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com">More details</a></p>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div *ngIf="bestProducts.length >= 4" class="col-sm-4">
                <div class="col-item">
                  <div class="photo"> <img src="http://placehold.it/350x260" class="img-responsive" alt="a" /> </div>
                  <div class="info">
                      <div class="row">
                          <div class="price col-md-12">
                              <h5>
                                  {{bestProducts[3].name}}</h5>
                              <h5 class="price-text-color">
                                  {{bestProducts[3].price}} $</h5> </div>
                          <div class="rating hidden-sm col-md-6"> </div>
                      </div>
                    <div class="separator clear-left">
                      <p class="btn-add"> <i class="fa fa-shopping-cart"></i><a [routerLink]="['/product/', bestProducts[3].id]">Add to cart</a></p>
                      <p class="btn-details"> <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com">More details</a></p>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
              <div *ngIf="bestProducts.length >= 5" class="col-sm-4">
                <div class="col-item">
                  <div class="photo"> <img src="http://placehold.it/350x260" class="img-responsive" alt="a" /> </div>
                  <div class="info">
                      <div class="row">
                          <div class="price col-md-12">
                              <h5>
                                  {{bestProducts[4].name}}</h5>
                              <h5 class="price-text-color">
                                  {{bestProducts[4].price}} $</h5> </div>
                          <div class="rating hidden-sm col-md-6"> </div>
                      </div>
                    <div class="separator clear-left">
                      <p class="btn-add"> <i class="fa fa-shopping-cart"></i><a [routerLink]="['/product/', bestProducts[4].id]">Add to cart</a></p>
                      <p class="btn-details"> <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com">More details</a></p>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
              <div *ngIf="bestProducts.length >= 6" class="col-sm-4">
                <div class="col-item">
                  <div class="photo"> <img src="http://placehold.it/350x260" class="img-responsive" alt="a" /> </div>
                  <div class="info">
                      <div class="row">
                          <div class="price col-md-12">
                              <h5>
                                  {{bestProducts[5].name}}</h5>
                              <h5 class="price-text-color">
                                  {{bestProducts[5].price}} $</h5> </div>
                          <div class="rating hidden-sm col-md-6"> </div>
                      </div>
                    <div class="separator clear-left">
                      <p class="btn-add"> <i class="fa fa-shopping-cart"></i><a [routerLink]="['/product/', bestProducts[5].id]">Add to cart</a></p>
                      <p class="btn-details"> <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com">More details</a></p>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="foot">
  <p>Snail Team Desing &copy;</p>
</footer>
